# Exploring Pandas

In [0]:
# All we need is
import pandas as pd
import numpy as np

**Pandas Series**

In [3]:
my_sentence = 'I get happy as soon as my solution gets accepted on Codeforces'
my_list = list(my_sentence.split(" "))
my_list

['I',
 'get',
 'happy',
 'as',
 'soon',
 'as',
 'my',
 'solution',
 'gets',
 'accepted',
 'on',
 'Codeforces']

In [4]:
series_my_list = pd.Series(my_list)
series_my_list

0              I
1            get
2          happy
3             as
4           soon
5             as
6             my
7       solution
8           gets
9       accepted
10            on
11    Codeforces
dtype: object

In [18]:
my_array = np.random.rand(12)
my_array

array([0.13199325, 0.37898195, 0.29600463, 0.42903726, 0.27621677,
       0.9153723 , 0.77298994, 0.08617422, 0.98281041, 0.98115926,
       0.49667896, 0.21900735])

In [19]:
series_my_array = pd.Series(my_array)
series_my_array

0     0.131993
1     0.378982
2     0.296005
3     0.429037
4     0.276217
5     0.915372
6     0.772990
7     0.086174
8     0.982810
9     0.981159
10    0.496679
11    0.219007
dtype: float64

**Pandas DataFrame**

In [12]:
my_2d_array = np.random.randn(5,5)
my_2d_array

array([[ 0.56543977,  0.36780683, -0.36816252, -0.04414879,  3.29084255],
       [ 1.26424277, -0.49479728, -0.73582695, -0.13683019,  0.72187719],
       [-0.03968576,  2.56571183, -0.07049331,  1.06803195,  0.18935999],
       [ 2.07139124, -0.00987923, -1.8721913 , -0.55017333,  1.0549379 ],
       [-1.28733865, -1.40459648, -1.47387333, -0.37883817,  0.34093445]])

In [13]:
pd.DataFrame(my_2d_array)

          0         1         2         3         4
0  0.565440  0.367807 -0.368163 -0.044149  3.290843
1  1.264243 -0.494797 -0.735827 -0.136830  0.721877
2 -0.039686  2.565712 -0.070493  1.068032  0.189360
3  2.071391 -0.009879 -1.872191 -0.550173  1.054938
4 -1.287339 -1.404596 -1.473873 -0.378838  0.340934

In [21]:
# This feture is really cool

x = pd.DataFrame(data = [series_my_list,series_my_array])
x

,0,1,2,3,4,5,6,7,8,9,10,11
0,I,get,happy,as,soon,as,my,solution,gets,accepted,on,Codeforces
1,0.131993,0.378982,0.296005,0.429037,0.276217,0.915372,0.77299,0.0861742,0.98281,0.981159,0.496679,0.219007

In [22]:
x = x.transpose()
x

             0          1
0            I   0.131993
1          get   0.378982
2        happy   0.296005
3           as   0.429037
4         soon   0.276217
5           as   0.915372
6           my    0.77299
7     solution  0.0861742
8         gets    0.98281
9     accepted   0.981159
10          on   0.496679
11  Codeforces   0.219007